{% extends "master/master.html" %}
{% load staticfiles %}

{% block title %}
    添加失业人员信息-失业人员名单管理
{% endblock %}

{% block css %}
    <link href="/static/plugins/toast-master/css/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/plugins/nprogress/nprogress.css">
    <link href="/static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block bread_name %}
    添加失业人员信息
{% endblock %}

{% block bread_node %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item"><a href="{% url 'person_view_list' %}">失业人员名单管理</a></li>
        <li class="breadcrumb-item active">添加失业人员信息</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-body">
                        {#                                <h4 class="card-title">Form Validation</h4>#}
                        {#                        <h6 class="card-subtitle">Bootstrap Form Validation check the <a href="http://reactiveraven.github.io/jqBootstrapValidation/">official website </a></h6>#}
                        <form class="m-t-40 form-horizontal" id="validation-form" method="post" action="">
                            {% csrf_token %}
                            <div class="form-body">
                                <h3 class="card-title font-bold">基本信息</h3>
                                <hr>
                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">
                                                姓名 <span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="name" class="form-control" id="name">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="nation">
                                                民族
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="nation" class="form-control" id="nation">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {#                                <div class="row">#}
                                {#                                    <div class="col-md-6">#}
                                {#                                        <div class="form-group">#}
                                {#                                            <label for="gender">#}
                                {#                                                性别#}
                                {#                                            </label>#}
                                {#                                            <div class="controls">#}
                                {#                                                <select name="gender" id="gender" class="form-control" >#}
                                {#                                                    <option value="male">-- 请选择性别 --</option>#}
                                {#                                                    <option value="male">男</option>#}
                                {#                                                    <option value="female">女</option>#}
                                {#                                                </select>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                        <!--/span-->#}
                                {#                                    </div>#}
                                {#                                    <div class="col-md-6">#}
                                {#                                        <div class="form-group">#}
                                {#                                            <label for="birthday">#}
                                {#                                                生日#}
                                {#                                            </label>#}
                                {#                                            <div class="controls input-group">#}
                                {#                                                <input type="text" class="form-control mydatepicker" id="birthday" name="birthday" placeholder="yyyy年mm月dd日">#}
                                {#                                                <span class="input-group-addon">#}
                                {#                                                    <i class="icon-calender"></i>#}
                                {#                                                </span>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {##}
                                {#                                </div>#}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="idcard">
                                                身份证号码 <span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="idcard" class="form-control" id="idcard">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="unemployment">
                                                失业登记证号 <span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="unemployment" class="form-control" id="unemployment">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="social">
                                                社保编号 <span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="social" class="form-control" id="social">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="tel">
                                                电话号码
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="tel" class="form-control" id="tel">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label for="address">
                                                地址
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="address" class="form-control" id="address">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="remark">
                                        备注
                                    </label>
                                    <div class="controls">
                                        <textarea name="remark" id="remark" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="active">
                                            是否有效
                                        </label>
                                        <div class="controls">
                                            <select name="active" id="active" class="form-control" >
                                                <option value="True">有效</option>
                                                <option value="False">无效</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>保存</button>
                                <button type="reset" class="btn btn-inverse"><i class="fa fa-undo"></i> 重置</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
{% endblock %}


{% block js1 %}
    {#    <script src="/static/js/validation.js"></script>#}
    <script src="/static/plugins/toast-master/js/toastr.js"></script>
    <script src="/static/plugins/nprogress/nprogress.js"></script>
    <script src="/static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/static/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
{% endblock %}

{% block js2 %}
    <script>
        jQuery('.mydatepicker, #datepicker').datepicker({
            language:'zh-CN',
            autoclose:true,
            todayHighlight:true
        });
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        jQuery(function($) {
            var $validation = false;
            $('#validation-form').validate({
                errorElement: 'div',
                errorClass: 'help-block',
                {#                                onfocusout:true,#}
                focusInvalid: true,
                onkeyup:false,
                ignore: "",
                rules: {
                    idcard: {
                        required: true,
                        remote:{
                            url: "/check_create_person_id_card/",
                            type: "post",
                            dataType: "json",
                            data: {
                                'csrfmiddlewaretoken':csrftoken,
                                idcard: function() {
                                    return $("#idcard").val();
                                }
                            }
                        }
                    },
                    unemployment: {
                        required: true,
                        remote:{
                            url: "/check_create_person_unemployment/",
                            type: "post",
                            dataType: "json",
                            data: {
                                'csrfmiddlewaretoken':csrftoken,
                                unemployment: function() {
                                    return $("#unemployment").val();
                                }
                            }
                        }
                    },
                    name: {
                        required:true
                    },
                    social: {
                        remote:{
                            url: "/check_create_person_social/",
                            type: "post",
                            dataType: "json",
                            data: {
                                'csrfmiddlewaretoken':csrftoken,
                                social: function() {
                                    return $("#social").val();
                                }
                            }
                        },
                        required:true
                    }
                },

                messages: {
                    idcard:{
                        required: "请填写身份证号码。",
                        remote:"该身份证号码格式不正确或者已经存在。"
                    },
                    name:{
                        required: "请填写姓名。"
                    },
                    unemployment:{
                        required: "请填写失业登记证号。",
                        remote:"失业登记证号已存在。"
                    },
                    social:{
                        required: "请填写社保编号。",
                        remote:"社保编号已存在。"
                    }

                },

                highlight: function (e) {
                    $(e).closest('.form-group').addClass('has-error');
                },

                success: function (e) {
                    $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                    $(e).remove();
                },

                errorPlacement: function (error, element) {
                    if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                        var controls = element.closest('div[class*="col-"]');
                        if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                        else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                    }
                    else if(element.is('.select2')) {
                        error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                    }
                    else if(element.is('.chosen-select')) {
                        error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                    }
                    else error.insertAfter(element.parent());
                },

                submitHandler: function (form) {
                    NProgress.start();
                    $.ajax({
                        type: 'post',
                        url: "/create_new_person/",
                        data:{
                            'csrfmiddlewaretoken':csrftoken,
                            name:$('#name').val(),
                            nation:$('#nation').val(),
                            social:$('#social').val(),
                            idcard:$('#idcard').val(),
                            unemployment:$('#unemployment').val(),
                            address:$('#address').val(),
                            remark:$('#remark').val(),
                            active:$('#active').val(),
                            tel: $('#tel').val(),
                        },
                        success:function(data){
                            data=JSON.parse(data);
                            toastr.options.progressBar = true;
                            toastr.options.timeOut = 10000;
                            toastr.options.extendedTimeOut = 10000;
                            if(data.status == '200'){
                                toastr.success('！');
                                location.href='/person_detail/' + data.person_id;
                            }
                            else{
                                toastr.error(data.msg);
                            }
                            NProgress.done();
                        }
                    });
                    return false;
                },
                invalidHandler: function (form) {
                }
            });
        });
    </script>
{% endblock %}