{% extends "master/master.html" %}
{% load staticfiles %}

{% block title %}
    失业人员信息详情-失业人员名单管理
{% endblock %}

{% block css %}
    <link href="/static/plugins/toast-master/css/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/plugins/nprogress/nprogress.css">
{% endblock %}

{% block bread_name %}
    {{ person.name }}
{% endblock %}

{% block bread_node %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item"><a href="{% url 'person_view_list' %}">失业人员名单管理</a></li>
        <li class="breadcrumb-item active">失业人员信息详情</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    {#                    <div class="card-header">#}
                    {#                        <h4 class="m-b-0 text-white">单位详情</h4>#}
                    {#                    </div>#}
                    <div class="card-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-body">
                                <h3 class="box-title font-bold">基本信息</h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">姓名：</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{ person.name }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">名族：</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{ person.nation }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">性别：</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    {% if person.gender == 'male' %}
                                                    男
                                                    {% elif person.gender == 'female' %}
                                                    女
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">生日：</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    {% if person.birthday %}
                                                        {{ person.birthday | date:"Y年m月d日" }}
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">电话号码：</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{ person.tel }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">地址：</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{ person.address }} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">备注：</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{ person.remark }} </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <h3 class="box-title font-bold">证件信息</h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">身份证号码：</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{ person.id_card }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">社保编号：</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{ person.social_security_number }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">失业登记证号码：</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{ person.unemployment_number }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <h3 class="box-title font-bold">员工有效性</h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">是否有效：</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    {% if person.active %}
                                                        有效
                                                    {% else %}
                                                        无效
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <a href="/edit_person/?person_id={{ person.id }}" class="btn btn-info"> <i class="fa fa-pencil"></i> 编辑</a>
                                                <a href="{% url 'create_new_person' %}" class="btn btn-success"> <i class="fa fa-plus"></i> 创建</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->

    </div>
{% endblock %}

{% block js1 %}
{% endblock %}

{% block js2 %}
{% endblock %}
