{% extends "master/master.html" %}
{% load staticfiles %}

{% block title %}
    单位管理
{% endblock %}

{% block css %}
    <link href="/static/plugins/toast-master/css/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/plugins/nprogress/nprogress.css">
    <link href="/static/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block bread_name %}
    单位管理
{% endblock %}

{% block bread_node %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item">系统管理</li>
        <li class="breadcrumb-item">单位管理</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">单位信息管理</h4>
                        <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                        <div class="form-actions m-t-40">
                            <a href="{% url 'create_new_company' %}" class="btn btn-success"> <i class="fa fa-plus"></i> 创建</a>
                        </div>
                        <div class="table-responsive m-t-5">
                            <table id="mytable" class="display nowrap table table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>单位名称</th>
                                    <th>单位编号</th>
                                    <th>单位电话</th>
                                    <th>银行总行</th>
                                    <th>政策类型</th>
                                    <th>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in company %}

                                    <tr>
                                        <td>
                                            {{ i.name }}
                                        </td>
                                        <td>{{ i.company_num }}</td>
                                        <td>{{ i.tel }}</td>
                                        <td>{{ i.general_bank.name }}</td>
                                        <td>
                                            {{ i.policy_types.name }}
                                        </td>
                                        <td class="text-nowrap">
                                            <a href="/company_detail/{{ i.id }}" data-toggle="tooltip" data-placement="top" data-original-title="查询">
                                                <i class="fa fa-search blue text-center m-r-15"></i>
                                            </a>
                                            <a href="/edit_company?company_id={{ i.id }}" data-toggle="tooltip" data-placement="top" data-original-title="编辑">
                                                <i class="fa fa-pencil text-inverse text-center m-r-15"></i>
                                            </a>

                                            <a onClick="postdel({{ i.id }})" data-toggle="tooltip" data-placement="top" data-original-title="删除">
                                                <i class="fa fa-close text-danger text-center m-r-15"></i>
                                            </a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
{% endblock %}


{% block js1 %}
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/static/plugins/datatables/buttons.flash.min.js"></script>
    <script src="/static/plugins/datatables/jszip.min.js"></script>
    <script src="/static/plugins/datatables/pdfmake.min.js"></script>
    <script src="/static/plugins/datatables/vfs_fonts.js"></script>
    {#    <script src="/static/plugins/datatables/dataTables.select.min.js"></script>#}
    <script src="/static/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/static/plugins/datatables/buttons.print.min.js"></script>
    <script src="/static/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/static/plugins/sweetalert/jquery.sweet-alert.custom.js"></script>
    <script src="/static/plugins/toast-master/js/toastr.js"></script>
    <script src="/static/plugins/nprogress/nprogress.js"></script>

    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
{% endblock %}

{% block js2 %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function postdel(id) {
            NProgress.start();
            swal({
                title: "你确认删除该单位吗？",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认删除",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $.post('/delete_single_company/',{'id':id,'csrfmiddlewaretoken':csrftoken},function (data) {
                        data=JSON.parse(data);
                        toastr.options.progressBar = true;
                        toastr.options.timeOut = 10000;
                        toastr.options.extendedTimeOut = 10000;
{#                        swal("Deleted!", "Your imaginary file has been deleted.", "success");#}
                        toastr.success('成功删除单位！');
                        location.href='/company_view_list/';
                    })

                } else {
                    swal("已经取消操作", "", "error");
                }
                NProgress.done();
            });
        }
        $(document).ready(function() {
            var myTable = $('#mytable').DataTable({
                bAutoWidth: false,
                language: {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    {#                    select: {#}
                    {#                        rows: "， %d 项被选中"#}
                    {#                    },#}
                    "sSearch": "搜索：",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "aoColumns": [
                    {#                    { "bSortable": false },#}
                    null, null,null, null, null,
                    { "bSortable": false }
                ],
                {#                selected: {#}
                {#                    style: 'multi'#}
                {#                },#}
                select:true,
                dom: 'lfrtip',
                {#                                dom: 'Blfrtip',#}
                {#                                buttons: [#}
                {#                                    {#}
                {#                                        "extend": "copy",#}
                {#                                        "text": "复制"#}
                {#                                    },#}
                {#                                    'csv','excel','pdf',#}
                {#                                    {#}
                {#                                        "extend": "print",#}
                {#                                        "text": "打印"#}
                {#                                    },#}
                {#                                    'reload'#}
                {#                                ]#}
            } );
            {#            $('#mytable').on( 'click', 'tr', function () {#}
            {#                $(this).toggleClass('selected');#}
            {#            } );#}
        })

    </script>
{% endblock %}